{% extends 'company/base.html' %}

{% load static %}
    {% block extrahead %}

    {% endblock %}

{% block content %}



<br><br>





<br><br><br>

Ci troviamo a Teramo (TE), in Abruzzo, e mostriamo i nostri mezzi su appuntamento.<br>
Puoi contattarci ai seguenti recapiti telefonici:<br>
111.111.1111 (cellulare, messaggi di testo o whatsapp ok)<br>
222.222.2222 (cellulare, messaggi di testo o whatsapp ok)<br>
o mandarci un'email all'indirizzo: destinazionecamper@gmail.com

<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
